<div class="px-3 d-flex align-items-center justify-content-between" style="background-color: #ffffff;padding-top: 17px;padding-bottom: 17px;">
    <div>
        <Strong><h5 style="color: #060040;">Dashboard</h5></Strong>
    </div>
    <div class="d-flex align-items-center gap-2">
        <a href="" class="rounded-circle p-2 d-flex align-items-center justify-content-center" style="background: #F8F8FA;width:35px;height: 35px;">
            <img src="/assets/icons/messages.png" class="w-100 h-100"  alt="messages">
        </a>
        <a href="" class="rounded-circle p-2 d-flex align-items-center justify-content-center" style="background: #F8F8FA;width: 35px;height: 35px;">
            <img src="/assets/icons/notification.png" class="w-100 h-100" alt="notification">
        </a>
    </div>
</div>