<div class="sidebar d-flex flex-column flex-shrink-0 py-3 px-3" style="height:100vh;width: 220px;background-color: #ffffff;">
    <a href="/evento-admins/dashboard" class="d-flex flex-column align-items-center w-100 mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-3" style="color:#060040;font-family: 'Montserrat', sans-serif;font-style: normal;font-weight: 700;letter-spacing: 3px;">Evento</span>
    </a>
    <ul class="nav nav-pills flex-column ps-2 mb-auto gap-2 mt-4">
      <li >
        <a href="#" class="d-flex align-items-center gap-2 text-decoration-none" style="color:#060040;padding:10px">
          <img src="/assets/icons/dashboard.png" style="width: 20px;height: 20px;" alt="dashboard">
          Dashboard
        </a>
      </li>
      <li >
        <a href="#" class="nav-link d-flex align-items-center gap-2 text-decoration-none" style="color:#060040;padding:10px;">
          <img src="/assets/icons/events.png" style="width: 20px;height: 20px;" alt="events">
          Event List
        </a>
      </li>
      <li >
        <a href="#" class="nav-link d-flex align-items-center gap-2 text-decoration-none" style="color:#060040;padding:10px;">
          <img src="/assets/icons/speackers.png" style="width: 20px;height: 20px;" alt="speackers">
          Speacker List
        </a>
      </li>
      <li >
        <a href="#" class="nav-link d-flex align-items-center gap-2 text-decoration-none" style="color:#060040;padding:10px;">
          <img src="/assets/icons/attendant.png" style="width: 20px;height: 20px;" alt="attendant">
          Attandant List
        </a>
      </li>
      <li >
        <a href="#" class="nav-link d-flex align-items-center gap-2 text-decoration-none" style="color:#060040;padding:10px;">
          <img src="/assets/icons/ressources.png" style="width: 20px;height: 20px;" alt="ressources">
          Ressource List
        </a>
      </li>
      <li >
        <a href="#" class="nav-link d-flex align-items-center gap-2 text-decoration-none" style="color:#060040;padding:10px;">
          <img src="/assets/icons/sponsors.png" style="width: 20px;height: 20px;" alt="sponsors">
          Sponsor List
        </a>
      </li>
      <li >
          <a href="#" class="nav-link d-flex align-items-center gap-2 text-decoration-none" style="color:#060040;padding:10px;">
            <img src="/assets/icons/finance.png" style="width: 20px;height: 20px;" alt="finance">
          Finance
        </a>
      </li>
    </ul>
    <div class="dropdown d-flex justify-content-between align-items-center">
      <a href="#" class="d-flex align-items-center gap-2 text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/assets/images/admin.png" alt="" width="35" height="35" class="rounded-circle me-2">
        <div class="d-flex flex-column">
          <strong style="color:#060040;font-weight: 700;font-size: 0.8rem;">mohamed younes</strong>
          <strong style="color: rgba(6, 0, 64, 0.5);font-weight: 500;font-size: 0.7rem;">Organizer</strong>
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-white text-small shadow">
        <li>
          <a class="dropdown-item d-flex align-items-center gap-2" style="color:#060040;" href="#">
            <img src="/assets/icons/profile.png" width="17" height="17" alt="">
            Profile
          </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <a class="dropdown-item d-flex align-items-center gap-2" style="color:#060040;" href="#">
            <img src="/assets/icons/logout.png" width="17" height="17" alt="">
            Sign out
          </a>
        </li>
      </ul>
    </div>
    <!-- <div class="d-flex justify-content-between align-items-center">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none" aria-expanded="false">
        <img src="/assets/images/admin.png" alt="" width="35" height="35" class="rounded-circle me-2">
        <div class="d-flex flex-column">
          <strong style="color:#060040;font-weight: 700;font-size: 0.8rem;">mohamed younes</strong>
          <strong style="color: rgba(6, 0, 64, 0.5);font-weight: 500;font-size: 0.7rem;">Organizer</strong>
        </div>
      </a>
      <a href="">
        <img src="/assets/icons/logout.png" width="20" height="20" alt="">
      </a>
    </div> -->
  </div>   